html, body {
    min-height: 100%;
}

@font-face {
    font-family: 'Bogam';
    src: url('fonts/Bogam.otf');
}

@font-face {
    font-family: 'GT Eesti Display Trial';
    src: url('fonts/GT-Eesti-Display-Regular-Trial.otf');
}

body {
    background-color: hsl(123, 83%, 14%);
    margin: 0;
    height: 200vh;
    background-size: 800px;
}

h1{
    font-family: 'Bogam';
    color: hsl(8, 100%, 52%);
    font-weight: 100;
    margin: 57px;
    margin-top: 10px;
    margin-left: 40px;
    text-align: left;
    line-height: 175px;
    font-size: 165px;
}

p {
    font-family: 'Hiragino Kaku Gothic Pro';
    font-size: 20px;
    color: hsl(15, 29%, 97%);
    margin-top: -21px;
    margin-left: 40px;
    max-width: 665px;
}


.content {
    display: flex;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu ul {
    list-style-type: none;
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
}

.menu ul li {
    margin: 0 2rem;
}

a {
    font-family: 'GT Eesti Display Trial';
    color: hsl(15, 29%, 97%);
    text-decoration: none;
    font-size: 18px;
}

.rotate {
    animation: rotation 8s infinite linear;
    position: absolute;
    left: 720px;
    top: 100px;
}

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

#contentframe {
    width: 690px;
    height: 630px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
    border-radius: 31px;
    margin: 20px;
    text-align: center;
    justify-content: center;
    position: absolute;
}

h2{
    font-family: 'GT Eesti Display Trial';
    color: hsl(123, 83%, 14%);
    font-size: 50px;
}

.instructions{
    font-family: 'Hiragino Kaku Gothic Pro';
    color: hsl(128, 7%, 23%);
    width: 600px;
    text-align: center;
}

h3{
    font-family: 'GT Eesti Display Trial';
    color: hsl(8, 100%, 52%);
    font-size: 30px;
}

.instruction button{
    width: 40%;
    height: 10%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: hsl(8, 100%, 52%);
    color: hsl(15, 29%, 97%);
    border-radius: 30px;
}

.quizbtn{
    font-size: 30px;
}