html, body {
    min-height: 100%;
}

body {
    background: url(https://images.unsplash.com/photo-1547989453-11e67ffb3885?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80) center center no-repeat;

    background-position: top center;
    height: 100vh;
    margin: 0;
    background-size: cover;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    text-align: center;
}

.call-to-action h1 {
    font-family: 'Playfair Display', serif;
    color: rgb(73, 49, 49);
    text-transform: uppercase;
    font-size: 50px;
}

.call-to-action a {
    background: rgb(119, 51, 30);
    padding: 1rem;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    border-radius: 450%;
}

@media (max-width: 750px) {
    .call-to-action h1 {
        font-size: 80px;
    }
}
