html, body {
    min-height: 100%;
    scroll-behavior: smooth;
    cursor: url("../images/cursor/cursor-final.png"), auto;
}

body {
    background-color: hsl(90, 100%, 87%);
    margin: 0;
    background-size: 90%;
    box-sizing: border-box;
}

h1 {
    font-weight: 400;
    font-size: 7.5vw;
}

h2 {
  text-align: center;    
  font-family: 'VT323', monospace; 
  font-size: 80px;
  font-weight: 100;
  color:hsl(132, 71%, 19%);
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  text-transform: uppercase;
  z-index: 999;
}


h3 {
    flex-grow: 1;
}


p {
    font-family:'VT323', monospace; 
    letter-spacing: 2px;
    font-weight: 50;
    font-size: 170%;
    flex-grow: 1;
    padding: auto;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 50px;
    text-align: center;
    color: hsl(132, 71%, 19%);
}

.question-img img {
  width: auto;
  height: 200px;
  padding: none;
  margin: none;
}

.question-img {
  display: flex;
  text-align: center;
  justify-content: center;
}
/* .content {

} */

.post {
    display: block;
    background-color: hsl(0, 0%, 100%);
}

.post__header {
    text-align: center;
}

.post__body{
    margin-top: 5vh;
    margin-bottom: 0px;
    z-index: 999;
    background-color: hsl(90, 100%, 87%);
}

.post__body-back{
  margin-top: 5vh;
  margin-bottom: 5vh;
  position: fixed;
  right: 22.1%;
  z-index: 0;
}

.flexbox-1 {
    display: flex;
    justify-content: center;
}

.flexbox-2 {
    display: flex;
    justify-content: center;
}

.flexbox-1-back {
  display: flex;
  justify-content: center;
}

.flexbox-2-back {
  display: flex;
  justify-content: center;
}

.quiz-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(133, 75%, 40%);
    color: hsl(132, 71%, 19%);
    width: 350px;
    height: 150px;
    /* padding: 30px; */
    margin-bottom: 40px;
    margin-top: none;
    margin-left: 15px;
    margin-right: 15px;

    font-family: 'VT323', monospace;
    font-size: 180%;
    z-index: 999;

    cursor: url("../images/cursor/cursor-pointer.png"), auto;
}

.quiz-btn:hover {
  background-color: hsl(90, 100%, 91%);
}

.quiz-btn.active {
  background-color: hsl(133, 75%, 40%);
  color: hsl(0, 0%, 100%);
  border: 0px solid  hsl(0, 0%, 100%);
}

.post__body a {
  text-decoration: none;
  display: flex;
  cursor: url("../images/cursor/cursor-final.png"), auto;
}

/* .btn-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
} */

.submit-btn {
  font-family: 'VT323', monospace;
  font-size: 20px;
  background-color: hsl(132, 71%, 19%);
  border: none;
  color:hsl(0, 0%, 100%);
  width: 100px;
  height: 50px;
}

.submit-btn:hover {
  background-color: hsl(133, 75%, 40%);
  /* border: 3px solid hsl(133, 75%, 40%); */
}

.primary-header {
    display: flex;
    position: sticky;
}
  
.link a {
    text-align: center;
    text-decoration: none;
    color: hsl(132, 71%, 19%);
    font-weight: 600;
}

.link a:hover {
    color: hsl(133, 83%, 31%);
}

.menu{
    display: flex;
    align-items: center;   
    z-index: 999; 
    flex-grow: 1;
}

.menu p{
  margin-left: 50px;
  font-size: 60px;
  color: hsl(133, 83%, 31%);
  margin-bottom: 10px;
  margin-top: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: left;
}


.menu ul li {
    margin: 0 1rem;
}
  
.menu ul li a{
    text-decoration: none;
    font-family: 'VT323', monospace;
    color: hsl(133, 75%, 40%);
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 500;
}
  
.menu ul li a:hover{
    color:hsl(132, 71%, 19%);
}

#home-btn {
    width: 50px;
    height:auto;
}


.left {
    float: left;
}

.link{
	padding: none;
	margin: 10px;
	display: inline-block;
  text-decoration: none;
}

/*===================*/
/* BOB ANIMATION
/*===================*/

@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes bob {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bob-float {
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes bob-float {
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  
  cursor: url("../images/cursor/cursor-pointer.png"), auto;

}
.bob:hover, .bob:focus, .bob:active {
  -webkit-animation-name: bob-float, bob;
  animation-name: bob-float, bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;

  cursor: url("../images/cursor/cursor-pointer.png"), auto;
}



section {
  padding-bottom: 40px;
}

/* #posts {
  padding-top: none;
  max-height: fit-content;
} */


/* section colors */

#s1 {
  background-color: hsl(0, 0%, 100%);
  /* background-color: hsl(90, 100%, 87%); */
  padding-top: 0px;
}

#s2 {
  /* background-color: hsl(0, 0%, 100%); */
  background-color: hsl(90, 100%, 87%);
  padding-top: 40px;
}

#s3 {
  background-color: hsl(0, 0%, 100%);
  /* background-color: hsl(90, 100%, 87%); */
  padding-top: 40px;
}

#s4 {
  /* background-color: hsl(0, 0%, 100%); */
  background-color: hsl(90, 100%, 87%);
  padding-top: 40px;
}

#s5 {
  background-color: hsl(0, 0%, 100%);
  /* background-color: hsl(90, 100%, 87%); */
  padding-top: 40px;
}

#s6 {
  /* background-color: hsl(0, 0%, 100%); */
  background-color: hsl(90, 100%, 87%);
  padding-top: 40px;
}

#s7 {
  background-color: hsl(0, 0%, 100%);
  /* background-color: hsl(90, 100%, 87%); */
  padding-top: 40px;
}

#s8 {
  /* background-color: hsl(0, 0%, 100%); */
  background-color: hsl(90, 100%, 87%);
  padding-top: 40px;
}

#s9 {
  background-color: hsl(0, 0%, 100%);
  /* background-color: hsl(90, 100%, 87%); */
  padding-top: 40px;
}

#s10 {
  /* background-color: hsl(0, 0%, 100%); */
  background-color: hsl(90, 100%, 87%);
  padding-top: 40px;
}

#s11 {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
  background-color: hsl(132, 71%, 19%);
  color:hsl(0, 0%, 100%);
  /* margin-top: 100px; */
  margin-bottom: none;
  height: 550px;
}

#result {
  justify-content: center;
  align-content: center;
}

#answer {
  color: hsl(0, 0%, 100%);
  /* color: hsl(90, 100%, 91%); */
  font-size: 130px;
  margin-top: 90px;
}

#description {
  /* color: hsl(0, 0%, 100%); */
  color: hsl(90, 100%, 91%);
}



/* ----------------------------------------------- END BUTTON ----------------------------------------------------*/

#btn-container{
  width: 200px;
  height: 75px;
  display: flex;
  justify-content: center;
  /* max-height: fit-content;
  position: relative; */
  /* z-index: 999; */
}

.btn-container{
  width: 97vw;
  height: 75px;
  display: flex;
  justify-content: center;
  /* max-height: fit-content;
  position: relative; */
  /* z-index: 999; */
  cursor: url("../images/cursor/cursor-final.png"), auto;
}


.button-text {
  font-family:'VT323', monospace; 
  font-size: 170%;
  text-decoration: none;
  color:hsl(133, 75%, 40%);
  z-index: 999;
  position: absolute;
  padding-top: 24px;
}


#pxl-button {
  width: 200px;
  height: auto;
  z-index: 0;
  position: absolute;
}