html, body {
    min-height: 100%;
}

body {
    background-color: hsl(40, 100%, 60%);;
    background-position: top right;
    height: 100vh;
    margin: 0;
    background-size: 800px;
}

h1 {
    font-family: 'MuseoModerno', cursive;
    font-weight: 400;
    font-size: 7.5vw;
    color: white;
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
  text-align: center;
}

.title h1 {
  font-family: 'MuseoModerno', cursive;
  color: rgb(255, 255, 255);
  font-size: 7.5vw;
  font-weight: 400;
}

.title a {
  background: rgb(255, 255, 255);
  padding: 20px;
  text-decoration: none;
  font-family: 'Lora', serif;
  text-transform: capitalize;
  color: #e9a51e;
  /* border: 2px solid #FFB930; */
  border-radius: 15px;
  cursor: pointer;
  width: 10%;
  /* display: inline; */
}

  .title a:hover
  {
      background-color:hsl(40, 100%, 60%);
      border-radius: 15px;
      border: 2px solid white;
      font-weight: 400;
      cursor: pointer;
      transition: .2s ease-in-out;
      color:rgb(255, 255, 255)
  }


/* circle animation */
/* 

@keyframes scale {
    0% {
      shape-inside: circle(250px, 250px, 210px);
      -webkit-clip-path: circle(250px, 250px, 210px);
   
      shape-inside: circle(250px, 250px, 210px);
      -webkit-clip-path: circle(210px at 250px 250px);
    }
    50% {
      shape-inside: circle(250px, 250px, 250px);
      -webkit-clip-path: circle(250px, 250px, 250px);
   
      shape-inside: circle(250px, 250px, 250px);
      -webkit-clip-path: circle(250px at 250px 250px);
    }
    100% {
      shape-inside: circle(250px, 250px, 210px);
      -webkit-clip-path: circle(250px, 250px, 210px); 
   
      shape-inside: circle(250px, 250px, 210px);
      -webkit-clip-path: circle(210px at 250px 250px);
    }
  } */




  