body {
    height: auto; 
    margin: 0; 
    padding: 0;
    background-color: hsl(40, 100%, 54%);
}

p {
    position: fixed; 
    top: 0; 
    left: 0; 
    font-size: 40px;
}

#grave {
  position: fixed;
  align-content: center;
  left: 40vw;
  top: 65vh;
  width: 200px;
}

#demo {
  /* text-align: center; */
  /* font-size: 10vw; */
  position: fixed;
  top: 0px; 
  right: 300px;
  width: 100px;
  height: 100px;
  background-color: hsl(40, 100%, 54%);; 
  color: white;
  transform: scale(0.02); /* since you ask for 20% */ 
  border-radius: 50%;    
}


#click-area {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
}

#clicked {
  max-width: 10%;
 visibility: visible;
}


