html {
    scroll-behavior: smooth;
}

body {
    background: hsl(41, 90%, 95%);
    overflow-x: hidden;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 5vw;
    color: hsl(40, 100%, 54%);
    vertical-align: top;
    margin: 0px;
}

h2 {
  font-weight: bold;
  font-size: 1.2vw;
  font-family: 'Lora', serif;
  margin: 7px;
}

h3 {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 2.9vw;
  color: hsl(40, 100%, 54%);
  vertical-align: top;
  margin: 0px;
  text-align: left;
}

p {
    font-family: 'Lora', serif;
    font-size: 1.2vw;
    margin: 7px;
    color:hsl(41, 100%, 54%);
    font-weight: 600;
}

.heading {
  font-weight: bold;
  font-size: 1.2vw;
  font-family: 'Lora', serif;
  margin: 7px;
}

.title {
  text-align: center;
  margin: 20px;
}

.title h1 {
  font-family: 'MuseoModerno', cursive;
  color: rgb(255, 255, 255);
  font-size: 7.5vw;
  font-weight: 400;
}

.title a {
  background-color:hsl(40, 100%, 60%);
  padding: 2px 0;
  border-radius: 15px;
  font-weight: 400;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  transition: .2s ease-in-out;
  display:flex;

  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 0%;
}

.title a:hover {
  background: hsl(40, 100%, 60%);
  /* border: 2px solid hsl(40, 100%, 70%); */
  padding: 20px;
  transition: .2s ease-in-out;
  color: hsl(0, 0%, 100%);
  align-content: center;

  text-decoration: none;
  font-family: 'Lora', serif;
  font-size: 100%;
}



/* NORMAL TEXT */

p:hover > .black {
  color:hsl(0, 0%, 0%);
  transition: 1s ease-in-out;
  opacity: 0;
}

.black {
  color:hsl(0, 0%, 0%);
  background: none;
  font-weight: 400;
  transition: 20s ease-in-out;
}

/* .letter {
  color:hsl(41, 100%, 54%);
  transition: 3s ease-in-out;
}

.letter:hover {
  color:hsl(0, 0%, 0%);
  transition: 1s ease-in-out;
} */

#letter {
  color:hsl(41, 100%, 54%);
  transition: 3s ease-in-out;
  padding: 20px;
  font-family: 'Lora', serif;
}

#letter:hover {
  background: hsl(41, 90%, 95%);
  /* border: 1px solid hsl(39, 19%, 23%); */
  color:hsl(0, 0%, 0%);
  transition: 0s ease-in;
  font-family: 'Lora', serif;
}

/* FADE IN AND OUT TEXT ANIMATION */

/* .black {
  opacity: 1;
  animation: fade 5s ease-in-out;
  animation-iteration-count: infinite;
  font-weight: 400;
}
p:hover > .black {
  animation-play-state: paused;
  color:hsl(0, 0%, 0%);
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
} */



/* .yellow:hover {
  color:hsl(41, 100%, 54%);
  background: none;
  opacity: 100%;
} */



/* mark.yellow:hover {
  color:hsl(0, 0%, 0%);
  background: hsl(40, 100%, 83%);
  transition: ease-in-out;
} */


a {
  text-decoration: none;
  color: hsl(283, 100%, 69%);
  transition: 0.2s ease-in;
}

a:hover {
  text-decoration: none;
  color: hsl(40, 100%, 54%);
  transition: none;
}

.section {
    padding-bottom: 30px;
    padding-top: 30px;
    margin: auto;
}

#march {
  padding-top: 70px;
}

#april {
  background-color: hsl(0, 0%, 100%);
}

#may {
  background-color: hsl(41, 90%, 95%);
}

#june {
  background-color: hsl(0, 0%, 100%);
}


.container {
    align-items: flex-start;
    display: flex;
    /* vertical-align: top; */
}

.column_left {
    width: 50%; 
    height: auto; 
    float: left; 
    vertical-align: top;
    text-align: center;
    /*margin: auto;*/
    padding: 20px;
}

.column_right {
    margin-left: 50%;
    width: 50%; 
    height: auto; 
    text-align: left;
    align-content: flex-start;
    margin: auto;
    padding: 20px;
    padding-right: 10vw;
}



/* .home {
  position: fixed;
  top:5%; right:18%;
  transform: translateY(-50%);
  z-index: 1000;
  width: 100vw;
  height: auto;
}

.home ul {
  list-style-type: none;
  padding:0; 
  margin: 0;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}

.home ul li {
  background-color: rgb(241, 241, 241);
  font-family: 'Lora', serif;
  width: 200px;
  position: relative;
  text-align: right;
  position:sticky;
  text-decoration: none;
} */

.navbar{
    position: fixed;
    top:5%; right:18%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100vw;
    height: auto;
}
  
.navbar ul{
    list-style-type: none;
    padding:0; 
    margin: 0;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
  }
  
.navbar ul li{
    font-family: 'Lora', serif;
    width: 200px;
    position: relative;
    text-align: right;
    /* background-color: #fff; */
  }
  
.navbar ul li .dot{
    color:#fff;
    display: block;
    padding:5px 0;
  }
  
.navbar ul li .dot span{
    display: inline-block;
    background: hsl(40, 100%, 54%);
    letter-spacing: 1px;
    padding:10px 25px;
    margin-right: 30px;
    border-radius: 3px;
    transform: translateX(30px);
    opacity: 0;
  }
  
.navbar ul li:hover .dot span{
    transform: translateX(0px);
    opacity: 1;
  }
  
.navbar ul li .dot span::before{
    content: '';
    position: absolute;
    top:50%; right:0;
    transform: translate(7px, -50%);
    border-left: 7px solid hsl(40, 100%, 54%);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    display: block;
  }
  
.navbar ul li .dot::before,
.navbar ul li .dot::after{
    content: '';
    position: absolute;
    top:50%;
    border-radius: 50%;
    display: block;
    transition: .2s ease-out;
}
  
.navbar ul li .dot::before{
    height:5px;
    width: 5px;
    border: 2px solid #333;
    right:0;
    transform: translateY(-50%);
}
  
.navbar ul li .dot.active::before,
.navbar ul li:hover .dot::before{
    border-color: hsl(40, 100%, 54%);
    background: hsl(40, 100%, 54%);
  }
  
  .navbar ul li .dot::after{
    height:15px;
    width: 15px;
    border: 2px solid hsl(40, 100%, 54%);
    right:-5px;
    transform: translateY(-50%) scale(0);
  }
  
  .navbar ul li .dot.active::after,
  .navbar ul li:hover .dot::after{
    transform: translateY(-50%) scale(1);
}

/* circle */

#demo {
    /* text-align: center; */
    /* font-size: 10vw; */
    position: fixed;
    top: 200px; 
    right: 100px;
    width: 100px;
    height: 100px;
    background-color: hsl(40, 100%, 54%);; 
    color: white;
    transform: scale(0.02); /* since you ask for 20% */ 
    border-radius: 50%;    
  }


@media (max-width: 900px) {

  .navbar {
    display: flex;
    justify-content: center;
    left: 0;
    width: auto;
  }

  .navbar ul{
    /* transform: translateY(-50%);
    z-index: 1000; */
    /* width: auto; */
    display: flex;
    justify-content: center;
    left: 0;
    width: 10vw;
  }

  .navbar ul li .dot span {
    visibility: hidden;
    width: 0px;
  }

  .navbar ul li:hover .dot span {
    visibility: hidden;
    width: 0px;
  }
  
.navbar ul li .dot::before,
.navbar ul li .dot::after{
    content: '';
    position: absolute;
    top:50%;
    border-radius: 50%;
    display: block;
    transition: .2s ease-out;
}
  
.navbar ul li .dot::before{
    height:5px;
    width: 5px;
    border: 2px solid #333;
    right:0;
    transform: translateY(-50%);
}
  
.navbar ul li .dot.active::before,
.navbar ul li:hover .dot::before{
    border-color: hsl(40, 100%, 54%);
    background: hsl(40, 100%, 54%);
  }
  
  .navbar ul li .dot::after{
    height:15px;
    width: 15px;
    border: 2px solid hsl(40, 100%, 54%);
    right:-5px;
    transform: translateY(-50%) scale(0);
  }
  
  .navbar ul li .dot.active::after,
  .navbar ul li:hover .dot::after{
    transform: translateY(-50%) scale(1);
}


  .container {
    align-items: flex;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 7vh;
    /* vertical-align: top; */
  }

  .column_right {
    margin-left: 50%;
    width: 80%; 
    height: auto; 
    text-align: left;
    align-content: flex-start;
    margin: 1px;
    padding: 20px;
    padding-right: none;
  }

  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  h3 {
    font-size: 3.7vh;
    padding: 3%;
  }

  p {
    font-size: 4.1vw;
  }

  
}