html, body {
    min-height: 100%;
}

body {
    background-color: 	hsl(205, 100%, 91%);
    margin: 0;
    background-size: cover;
    box-sizing: border-box;
}

h1 {
    font-weight: 400;
    font-size: 7.5vw;
}

h2 {
  text-align: center;
  /* margin-top: 7vh;
  margin-bottom: 3%;
  margin-right: 5vh; */
    
  font-family: 'Libre Barcode 39 Text', cursive; 
  font-size: 80px;
  font-weight: 100;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  margin-top: 20px;
  display: inline-block;
}


h3 {
    flex-grow: 1;
}


p {
    font-family: 'Varta', sans-serif;
    letter-spacing: 2px;
    font-weight: 50;
    font-size: 120%;
    flex-grow: 1;
    padding: auto;
    margin-left: 15vw;  
    margin-right: 15vw;
    text-align: center;
    color: hsl(198, 47%, 44%);
}


.post {
    display: block;
}

.post__header {
    text-align: center;
    /* display: block; */
}

.post__body{
    margin-top: 5vh;
}

.primary-header {
    display: flex;
}
  
.link a {
    text-align: center;
    text-decoration: none;
    color: hsl(198, 47%, 44%);
    font-weight: 600;
}

.link a:hover {
    color:  hsl(197, 100%, 18%);;
}

.menu{
    display: flex;
    align-items: center;    
}

.menu ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
}


.menu ul li {
    margin: 0 1rem;
}
  
.menu ul li a{
    text-decoration: none;
    font-family: 'Varta', sans-serif;
    color: hsl(197, 100%, 18%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 500;
}
  
.menu ul li a:hover{
    color: 	hsl(198, 56%, 59%);
}

.left {
    float: left;
}

.box-in {
    width:cover;
    height: 600px;
    border-style:dashed; border-width: 4px;
    position: relative;
    margin: 20px 20px 0px 20px; 
    color: hsl(198, 56%, 59%);
    z-index: 100;
}
