* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    background-color: hsl(0, 0%, 100%);
    background-position: top right;
    height: cover;
    margin: 0;
    background-size: 800px;
}

h3 {
    flex-grow: 1;
}

.primary-header {
    display: flex;
}

.menu{
    display: flex;
    align-items: center;    
}

.menu ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
}

.menu ul li {
    margin: 0 1rem;
}
  
.menu ul li a{
    text-decoration: none;
    font-family: 'Varta', sans-serif;
    color: hsl(198, 47%, 44%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 500;
}
  
.menu ul li a:hover{
    color: hsl(205, 100%, 78%);
}

.box-in {
    width:cover;
    /* height: 600px; */
    border-style: dashed; border-width: 4px;
    position: relative;
    margin: 20px 20px 0px 20px; 
    color: hsl(205, 100%, 78%);
    z-index: 100;
    margin-bottom: 20px;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
}

.flex-item-left {
    padding: 10px;
    flex: 50%;
    height: 2%;
}

.flex-item-right {
    padding: 10px;
    flex: 50%;
    
}

img {
    display: inline-block;
    height: 70px;
    width: auto;
}


#hat1 {
    padding: 10px;
}

#hat2 {
    padding: 10px;
}

#hat3 {
    padding: 10px;
}

#bag1 {
    width: 90px;
    height:auto;
}

#bag2 {
    width: 60px;
    height:auto;
}

#bag3 {
    width: 90px;
    height:auto;
}

#sunnies {
    width: 60px;
    height:auto;
}

#chain1 {
    width: 50px;
    height:auto;
}

#chain2{
    width: 60px;
    height:auto;
}

#bclet1 {
    width: 30px;
    height: auto;
}

#bclet2 {
    width: 30px;
    height: auto;
}

#tie {
    width: 38px;
    height: auto;
}

/* .outfit {
    
} */

#mannequin {
    width: 100px;
    height: auto;
}

#my-clothes {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.flex-column {
    position: relative;
}

.flex-column:nth-child(1) {
    width: 200px;
}

.flex-column:nth-child(2) {
    flex: 1;
}

.flex-column:nth-child(3) {
    width: 200px;
}

.item-image:nth-child(1) img {
    position: absolute;
    width: 100px;
    height: auto;
}

.item-image {
    height: 200px;
    position: relative;
}