html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

h2 {
    font-family: "Lora", serif;
    font-size: 40px;
    font-weight: 100;
    color:	hsl(198, 47%, 44%);
}


h3 {
    font-family: "Libre Barcode 39 Text", cursive;
    font-weight: 100;
    font-size: 80px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#prompt {
    font-family: "Libre Barcode 39 Text", cursive;
    font-weight: 100;
    font-size: 50px;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-family: "Varta", sans-serif;
    text-transform: uppercase;
    padding-left: 15px;
}

.refresh p{
    position: absolute;
    bottom: 20px;
    right: 73.5%;
    color: hsl(198, 47%, 44%);
    font-family: 'Lora', serif; 
    text-align: center;
    text-transform: none;
}

#person, #place, #city {
    font-family: "Varta", sans-serif;
    text-transform: uppercase;
    padding-left: 15px;
}

.icon {
    width: 25px;
    height: auto;
}

.post-header {
    display: flex;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.post {
    width: 33.33%;
    overflow: auto;
    /* margin: 0 1rem; */
    padding: 0 1rem;
    box-sizing: border-box;
    height: 100vh;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.post-body {
    text-align: center;
    vertical-align: center;
}

#post1 {
    background-color: hsl(205, 100%, 91%);
    /* border-style:dashed; 
    border-width: 3px;
    border-color: hsl(198, 47%, 44%);
    border-right: none; */
}

#box1 {
    z-index: 100;
    width: 33.33%;
    padding: 0 1rem;
    box-sizing: border-box;
    height: 97vh;
    width: 400px;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style:dashed; 
    border-width: 3px;
    border-color: hsl(205, 50%, 66%);
    border-top: none;
    border-bottom: none;
}

#post2 {
    background-color: hsl(205, 50%, 66%);
    /* border-style:dashed; 
    border-width: 3px;
    border-color: hsl(197, 100%, 18%);
    border-right: none; */
}

#box2 {
    z-index: 100;
    width: 33.33%;
    padding: 0 1rem;
    box-sizing: border-box;
    height: 97vh;
    width: 400px;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style:dashed; 
    border-width: 3px;
    border-color: 	hsl(205, 100%, 91%);
    border-top: none;
    border-bottom: none;
}


#post3 {
    background-color: hsl(0, 0%, 100%);
    /* border-style:dashed; 
    border-width: 3px;
    border-color: hsl(198, 47%, 44%);
    border-left: none; */

    flex-direction: column;
}

/* #box3 {
    z-index: 100;
    width: 33.33%;
    padding: 0 1rem;
    box-sizing: border-box;
    height: 97vh;
    width: fit-content;
    float: left;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style:dashed; 
    border-width: 3px;
    border-color: hsl(198, 47%, 44%);
    border-top: none;
    border-bottom: none;
}
  */

.grid-container {
    display: flex;
    /* grid-template-columns: 0.5fr 1fr; */
    max-width: max-content;
}

.grid-child {
    background-color: hsla(0, 0%, 100%, 0%);
    padding: none;
    color: hsl(0, 0%, 100%);
    width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    text-align: left;
}

.grid-child:last-child {
    flex: 1;
}


a {
    color:hsl(198, 47%, 44%);
    text-decoration: none;
}
/* 
a:hover {
    color: hsl(205, 50%, 66%);
} */

#Accessorize {
    text-decoration: none;
    font-family: 'Varta', sans-serif;
    color: 	hsl(198, 47%, 44%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 500;
    position: absolute; 
    bottom: 25px;
    right: 30px;

}

#Accessorize:hover{
    color: hsl(205, 50%, 66%);
    /* color: hsl(197, 100%, 18%); */
}

.slideshow-nav {
    display:flex;
    flex-direction: row;
}

/* .slideshow-container1 {
    max-width: 150px;
}

.slideshow-container2 {
    max-width: 150px;
}

.slideshow-container3 {
    max-width: 150px;
} */


img {
    max-width: 150px;
    min-width: 150px;
    /* min-height: 100px; */
    /* max-height: 150px; */
}

.icon {
    max-width: 150px;
    min-width: 0px;
}

#prev, #prev2, #prev3, #next, #next2, #next3{
    font-family: 'Varta', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 20px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(198, 47%, 44%);
    border: none;
    /* height: 30px; */
    width:fit-content;
    /* align-items: center;
    justify-content: center; */
    cursor: pointer;
    padding: 15px;
    padding-right: 15px;
    padding-top: none;
    padding-bottom: none;
}

#prev, #prev2, #prev3{
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#prev:hover, #prev2:hover, #prev3:hover, #next:hover, #next2:hover, #next3:hover{
    font-family: 'Varta', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 20px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(205, 50%, 66%);
    /* height: 30px; */
    width:fit-content;
    /* align-items: center;
    justify-content: center; */
    cursor: pointer;
}

.primary-header {
    display: flex;
}
  
.link a {
    text-align: center;
    text-decoration: none;
    color: hsl(198, 47%, 44%);
    font-weight: 600;
}

.link a:hover {
    color:  hsl(197, 100%, 18%);;
}

.menu{
    display: flex;
    align-items: center;    
}

.menu ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
}


.menu ul li {
    margin: 0 1rem;
}
  
.menu ul li a{
    text-decoration: none;
    font-family: 'Varta', sans-serif;
    color: hsl(197, 100%, 18%);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 500;
}
  
.menu ul li a:hover{
    color: 	hsl(198, 56%, 59%);
}

.left {
    float: left;
}


@media screen and (max-width: 700px) {
    .post {
      width: 100%;
    }
  }